---
import Button from "../base/Button.astro";

const banners = [];
---

<section class="relative">
  <div
    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
  >
    <div
      class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-active
      data-te-carousel-item
      style="backface-visibility: hidden"
    >
      <img
        class="img-banner"
        src="/imgs/banner-1.png"
        class="block w-full"
        alt="..."
      />
      <div
        id="banner-text"
        class="absolute inset-x-[50%] bottom-2 md:bottom-20 py-5 text-white left-12 text-left hidden sm:block"
      >
        <p
          id="banner-text"
          class="text-xl lg:text-5xl mb-4 font-bold leading-tight"
        >
          Step inside, for comfort and magic await you.
        </p>
        <Button title="Shop now" />
      </div>
    </div>
  </div>
</section>
