---
import Rating from "../Rating.astro";
import Button from "../base/Button.astro";
---

<div class="grid grid-cols-1 md:grid-cols-9 gap-4">
  <div
    class="col-span-1 sm:col-span-5 md:col-span-6 rounded-lg bg-white-smoke pt-12 lg:pr-4"
  >
    <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold mb-8 lg:mb-12">
      The Hype is real...
    </h2>
    <div class="flex flex-col lg:flex-row gap-4 items-center lg:items-start">
      <img src="/imgs/the-hype-is-real.png" class="md:w-[150px] lg:w-full" />
      <div class="flex flex-col items-center justify-center gap-8">
        <div class="flex">
          <h4>phong h.</h4>
          <Rating rating={5} />
        </div>
        <p class="text-xl lg:text-2xl lg:font-bold p-4 md:p-2 md:p-0">
          These stylishly simple and incredibly comfortable shoes have become
          such a staple in my daily wardrobe that I'm already buying a second
          pair.
        </p>
      </div>
    </div>
  </div>
  <div
    class="col-span-1 sm:col-span-4 md:col-span-3 flex flex-col rounded-lg bg-white-smoke pb-4"
  >
    <img
      src="/imgs/the-hype-is-real-right.png"
      class="md:w-[150px] lg:w-full"
    />

    <div
      class="flex flex-col lg:flex-row mt-8 lg:mt-24 justify-between gap-2 px-4 h-full"
    >
      <div class="flex flex-col items-start gap-2">
        <h4 class="font-bold text-lg">Model 000</h4>
        <p>Navy</p>
      </div>
      <div>
        <Button title="Shop now" />
      </div>
    </div>
  </div>
</div>
