---
import Button from "../base/Button.astro";
---

<div class="flex flex-col gap-10 relative">
  <div class="bg-black w-100">123</div>
  <div>
    <Button title="New" variant="white" />
  </div>
</div>
