---
const brands = [
  {
    label: "Vogue",
    icon: "vogue",
  },
  {
    label: "Esquire",
    icon: "esquire",
  },
  {
    label: "Humans of newyork",
    icon: "humans-of-ny",
  },
];
---

<div
  class="quote-section flex flex-col px-8 md:px-24 py-12 lg:px-32 items-start gap-10 bg-white-smoke rounded-lg"
>
  <p id="quote" class="font-bold text-xl md:text-3xl">
    “These are the most thoughtfully designed sneakers on the market.”
  </p>
  <div
    class="flex flex-col gap-8 items-center md:flex-row justify-between mx-auto w-full"
  >
    {
      brands.map((brand) => (
        <img
          class="brand"
          src={`/brands/${brand.icon}.svg`}
          alt={brand.label}
          width="100"
        />
      ))
    }
  </div>

  <script is:inline>
    const quoteTl = gsap.timeline({
      defaults: {
        ease: "power1.out",
        duration: 0.8,
        autoAlpha: 0,
        yPercent: 100,
      },
    });

    const quote = document.querySelector("#quote");
    const brands = gsap.utils.toArray(".brand");

    quoteTl.from(quote, {}).from(brands, { stagger: 0.25 }, "<");

    ScrollTrigger.create({
      trigger: ".quote-section",
      start: "top 90%",
      // markers: true,
      animation: quoteTl,
      toggleActions: "restart none none reverse",
    });
  </script>
</div>
