---
import BaseLayout from "../layout/BaseLayout.astro";
import { GsapPlugin } from "../core/type";
import Banner from "../components/astro/home/Banner.astro";
import Quote from "../components/astro/home/Quote.astro";
import ExploreProducts from "../components/astro/home/ExploreProducts.astro";
import Feedback from "../components/astro/home/Feedback.astro";
import Introduction from "../components/astro/home/Introduction.astro";
import Story from "../components/astro/home/Story.astro";
import Everyday from "../components/astro/home/Everyday.astro";
---

<BaseLayout
  noPadding
  includeGsap={{
    enabled: true,
    plugins: [GsapPlugin.SplitText],
  }}
>
  <div class="flex flex-col gap-10 relative">
    <div class="flex flex-col gap-10 px-8 md:px-16 lg:px-24">
      <Banner />
      <Quote />
      <ExploreProducts />
      <Feedback />
    </div>
    <Introduction />
    <div class="flex flex-col gap-10 px-8 md:px-16 lg:px-24">
      <Story />
      <Everyday />
    </div>
  </div>
</BaseLayout>
