---
import BaseLayout from "../layout/BaseLayout.astro";
import { GsapPlugin } from "../core/type";
import Banner from "../components/astro/home/Banner.astro";
import Quote from "../components/astro/home/Quote.astro";
import ExploreProducts from "../components/astro/home/ExploreProducts.astro";
---

<BaseLayout
  includeGsap={{
    enabled: true,
    plugins: [GsapPlugin.SplitText, GsapPlugin.DrawSVG],
  }}
>
  <div class="flex flex-col gap-10">
    <Banner />
    <Quote />
    <ExploreProducts />
  </div>
</BaseLayout>
