---
import BaseLayout from "../layout/BaseLayout.astro";
import { GsapPlugin } from "../core/type";
import Banner from "../components/astro/home/Banner.astro";
import Quote from "../components/astro/home/Quote.astro";
import ExploreProducts from "../components/astro/home/ExploreProducts.astro";
import Feedback from "../components/astro/home/Feedback.astro";
import Introduction from "../components/astro/home/Introduction.astro";
---

<BaseLayout
  noPadding
  includeGsap={{
    enabled: true,
    plugins: [GsapPlugin.SplitText],
  }}
>
  <div class="flex flex-col gap-10 relative">
    <div class="px-8 md:px-16">
      <Banner />
      <Quote />
      <ExploreProducts />
      <Feedback />
    </div>
    <Introduction />
  </div>
</BaseLayout>
